body {
    font-family: Arial;
}

.top {
    background: #f2f2f2;
    padding: 10px;
}

.left {
    background: #e6e6e6;
    padding: 10px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; color: red; }